<?xml version="1.0" encoding="utf-8"?>

<nta>
	<platform>
		<os>linux</os>
		<protocol>soem</protocol>
		<period>10000000</period>
	</platform>
	<configuration>
		<task type="Finish" />
		<task type="FinishMotion" />
		<task type="SW0" />
		<task type="SW1" />
		<task type="SW2" />
		<task type="SW3" />
		<task type="SW4" />
		<task type="SW5" />
		<task type="SW6" />
		<task type="SW7" />
		<task type="LED0" />
		<task type="LED1" />
		<task type="LED2" />
		<task type="LED3" />
		<task type="LED4" />
		<task type="LED5" />
		<task type="LED6" />
		<task type="LED7" />
		<io varname="led0" address="1:0x7010:0x1" type="bool" direction="out" />
		<io varname="led1" address="1:0x7010:0x2" type="bool" direction="out" />
		<io varname="led2" address="1:0x7010:0x3" type="bool" direction="out" />
		<io varname="led3" address="1:0x7010:0x4" type="bool" direction="out" />
		<io varname="led4" address="1:0x7010:0x5" type="bool" direction="out" />
		<io varname="led5" address="1:0x7010:0x6" type="bool" direction="out" />
		<io varname="led6" address="1:0x7010:0x7" type="bool" direction="out" />
		<io varname="led7" address="1:0x7010:0x8" type="bool" direction="out" />
		<io varname="sw0" address="1:0x6000:0x1" type="bool" direction="in" />
		<io varname="sw1" address="1:0x6000:0x2" type="bool" direction="in" />
		<io varname="sw2" address="1:0x6000:0x3" type="bool" direction="in" />
		<io varname="sw3" address="1:0x6000:0x4" type="bool" direction="in" />
		<io varname="sw4" address="1:0x6000:0x5" type="bool" direction="in" />
		<io varname="sw5" address="1:0x6000:0x6" type="bool" direction="in" />
		<io varname="sw6" address="1:0x6000:0x7" type="bool" direction="in" />
		<io varname="sw7" address="1:0x6000:0x8" type="bool" direction="in" />
	</configuration>
</nta>
